.attendance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.5%;
  height: 20rem;
  background-color: #FAFBFC;
  border: 1px solid lightgray;
  padding: 1rem;
}

.attendance-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.attendance-sub-title {
  font-size: 1rem;
  font-weight: normal;
}

.pie-chart-container {
  margin: auto;
  width: 12rem;
}

.attendance-money {
 font-size: 1.2rem;
 margin: 0.5rem 0;
}

.attendance-content {
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
}

.attendance-count {
  background-color: #3396F4;
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: white;
  text-align: center;
}

.absence-count {
  background-color: red;
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: white;
  text-align: center;
}

.attendance-content-text {
  margin: auto;
  font-size: 0.8rem;
}