.attendance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.5%;
  height: 20rem;
  background-color: #FAFBFC;
  border: 1px solid lightgray;
  padding: 1rem;
}

.attendance-title {
  width: 100%;
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.pie-chart-container {
  margin: auto;
  width: 12rem;
}

.attendance-money {
 font-size: 1.2rem;
 margin: 0.5rem 0;
}

.attendance-content {
  font-size: 1rem;
  margin: 0.3rem;
}