.profile-edit {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: 50%;
  margin: 0 auto;
}

.profile-edit-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.profile-edit-title {
  text-align: start;
  margin: auto 0;
  width: 10rem;
}

.profile-edit-input {
  font-size: 1rem;
}

.profile-check-confirm {
  padding: 0.2rem;
  color: #FFE651;
  width: 4rem;
  text-align: center;
  line-height: 0;
}

.profile-check {
  cursor: pointer;
  padding: 0.2rem;
  width: 4rem;
  font-size: 1rem;
  background-color: gray;
  color: white;
  text-align: center;
}

.to-password {
  text-decoration: none;
  color: #3396F4;
  font-size: 1rem;
}

.profile-edit-buttons {
  display: flex;
  justify-content: space-between;
}

.profile-link-back {
  text-decoration: none;
  background-color: #3396F4;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.profile-edit-button {
  background-color: #3396F4;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}