.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mileage-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.mileage-number {
  text-align: end;
}

.mileage-title {
  font-weight: bold;
  font-size: 25px;
}

.available-mileage {
  background-color: aliceblue;
}

.accumulated-mileage {
  background-color: white;
}

.used-mileage {
  background-color: rgb(247, 200, 200);
}