.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mileage-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #FAFBFC;
  padding: 2rem;
  border: 1px solid lightgray;
}

.mileage-number {
  text-align: end;
}

.mileage-title {
  font-weight: bold;
  font-size: 25px;
}

.available-mileage {
  background-color: #3396F4;
  padding: 1rem;
  color: white;

}

.available-mileage-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.accumulated-mileage {
  border-bottom: 1px solid lightgray;
  padding: 1rem;
}

.accumulated-mileage-title {
  font-size: 1rem;
  font-weight: bold;
}

.used-mileage {
  padding: 1rem;
}

.used-mileage-title {
  font-size: 1rem;
  font-weight: bold;
}