.App {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'NanumBarunGothic';
  margin: 0;
  position: relative;
  padding-top: 4rem;
}

.app-main {
  padding-bottom: 8rem;
}

@media screen and (max-width: 600px) {
  .App {
    padding-top: 12rem;
  }
}