.admin-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.admin-index-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.admin-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.admin-row:hover {
  background: rgb(236, 236, 236);
}

.admin-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.admin-notice-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
  background: #FFE651;
}

.admin-notice-row:hover {
  background: #FAE98A;
}

.admin-community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}

.admin-input-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  background: lightgray;
  padding: 1rem;
}

.admin-submit-textarea {
  padding: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
}

.admin-submit-textarea:focus {
  outline: none;
}

.admin-submit-button {
  cursor: pointer;
  margin: auto;
  color: gray;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.admin-submit-button:hover {
  color: white;
}

.admin-update-button {
  color: #3396F4;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .admin-container {
    width: 50%;
  }
  
  .admin-notice-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-index-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-input-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .admin-container {
    width: 33%;
  }

  .admin-input-container {
    width: 33%;
  }
}