.admin-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.admin-index-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.admin-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.admin-row:hover {
  background: rgb(236, 236, 236);
}

.admin-notice-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 1fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
  background: #3396F4;
}

.admin-notice-row:hover {
  background: #354ACA;
}

.admin-community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}

.admin-update-button {
  color: #FFE651;
  cursor: pointer;
}

.admin-bugs-index-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.admin-bugs-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 1280px) {
  .admin-container {
    width: 50%;
  }
  
  .admin-notice-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-index-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-bugs-index-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .admin-bugs-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }
}

@media screen and (min-width: 1920px) {
  .admin-container {
    width: 33%;
  }
}