.article {
  text-align: center;
  margin-top: 5rem;
}

.article-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.article-nav {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  margin: 3rem auto 2rem;
  width: 90%;
}

.nav-title {
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 2rem;
  padding: auto;
  text-align: start;
}

.nav-link {
  padding: 0.5rem 0;
  font-size: 1rem;
  text-decoration: none;
  color: gray;
}

.nav-link:hover {
  color: black;
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.article-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.article-row:hover {
  background: rgb(236, 236, 236);
}

.article-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.notice-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
  background: #3396F4;
}

.notice-row:hover {
  background: #354ACA;
}

.community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: end;
}

.community-create {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #3396F4;
  border-radius: 0.5rem;
}

.input-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  background: lightgray;
  padding: 1rem;
}

.submit-textarea {
  padding: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
}

.submit-textarea:focus {
  outline: none;
}

.submit-button {
  cursor: pointer;
  margin: auto;
  color: gray;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.submit-button:hover {
  color: white;
}

@media screen and (min-width: 1280px) {
  .article-container {
    width: 50%;
  }

  .article-nav {
    width: 50%;
  }

  .index-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .article-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .input-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .article-container {
    width: 33%;
  }

  .article-nav {
    width: 33%;
  }

  .index-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .article-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .input-container {
    width: 33%;
  }
}