.article {
  text-align: center;
  margin-top: 5rem;
}

.article-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.article-nav {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  margin: 3rem auto 2rem;
  width: 90%;
}

.nav-title{
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 2rem;
  padding: auto;
  text-align: start;
}

.nav-link {
  padding: 0.5rem 0;
  font-size: 1rem;
  text-decoration: none;
  color: gray;
}

.nav-link:hover {
  color: black;
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.article-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.article-row:hover {
  background: rgb(236, 236, 236);
}

.notice-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.input-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
}

.submit-textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  resize: none;
}

.submit-textarea:focus {
  outline: 1px solid #3396F4;
}

.submit-button {
  cursor: pointer;
  margin: auto;
  padding: 0.5rem;
  color: #3396F4;
  border: 1px solid #3396F4;
  border-radius: 0.5rem;
  background: white;
  width: 2rem;
}

.submit-button:hover {
  color: white;
  background: #3396F4;
}

@media screen and (min-width: 992px) {
  .article-container {
    width: 50%;
  }

  .article-nav {
    width: 50%;
  }

  .index-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .article-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }
}