.update-form {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-top: 2px solid black;
  border-bottom: 1px solid lightgray;
}

.update-label {
  align-items: start;
  font-size: 1.5rem;
  margin: 0.5rem auto;
  text-align: start;
  width: 100%;
}

.update-title {
  margin: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.update-content {
  margin: 0.5rem;
  width: 100%;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: 1px solid lightgray;
}

.update-button {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #3396F4;
}

@media screen and (min-width: 1280px) {
  .update-form {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .update-form {
    width: 33%;
  }
}