.update-form {
  margin: 5rem auto;
  align-items: center;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 1px solid lightgray;
}

.update-label {
  align-items: start;
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: start;
  width: 100%;
}

.update-title {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.update-content {
  width: 100%;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: 1px solid lightgray;
}

.update-buttons {
  display: flex;
  justify-content: space-between;
}

.update-button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #3396F4;
}

.update-cancel {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: yellow;
}
