.create-form {
  margin: 5rem auto;
  align-items: center;
  width: 90%;
  border-top: 2px solid black;
  border-bottom: 1px solid lightgray;
}

.create-label {
  align-items: start;
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: start;
  width: 100%;
}

.create-title {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.create-content {
  width: 100%;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: 1px solid lightgray;
}

.create-buttons {
  display: flex;
  justify-content: space-between;
}

.create-button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #3396F4;
}

.create-cancel {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: yellow;
}

@media screen and (min-width: 1280px) {
  .create-form {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .create-form {
    width: 33%;
  }
}