.notice-container {
  margin: 5rem auto;
  width: 90%;
}

.notice-title {
  font-size: 2rem;
  border-top: 2px solid black;
  text-align: start;
  padding-top: 1rem;
}

.notice-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  color: gray;
}

.notice-created {
  text-align: start;
}

.notice-updated {
  text-align: end;
}

.notice-content {
  padding: 3rem 0;
  text-align: start;
  border-bottom: 1px solid lightgray;
  white-space: pre-wrap;
}

.comments-container {
  margin-top: 3rem;
}

.comments-header {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  text-align: start;
  padding: 1rem 0;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  border-bottom: 1px solid lightgray;
  font-size: 0.8rem;
  padding: 0.6rem 0;
}

@media screen and (min-width: 1280px) {
  .notice-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .notice-container {
    width: 33%;
  }
}