.page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.1rem, auto));
  column-gap: 0.5rem;
  margin: 1rem auto;
  width: 30%;
}

.page-select {
  width: 100%;
  margin: auto;
}

.page-button {
  display: grid;
  cursor: pointer;
  width: 1.5rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: black;
  margin: auto;
  padding: 0;
  border-radius: 1rem;
  background: none;
  border: none;
}

.page-button:disabled {
  color: lightgray;
}

.page-button:hover {
  color: #3396F4;
  background: none;
}