.admin-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.admin-bug-index-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr;
  column-gap: 2rem;
  background-color: #FAFBFC;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.admin-bug-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.admin-log-content {
  white-space: pre-wrap;
  text-align: start;
}

.admin-bugs-row:hover {
  background-color: #FAFBFC;
}

@media screen and (min-width: 1280px) {
  .admin-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .admin-container {
    width: 33%;
  }
}