.mileagemain{
  width:40%;
}

.mileagenumber{
  text-align:end;
}

.title{
  font-weight: bold;
  font-size: 25px;
}

.available{
  background-color: aliceblue;
}

.used{
  background-color: rgb(247, 200, 200);
}