.admin-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.admin-index-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr 1fr;
  column-gap: 2rem;
  background-color: #FAFBFC;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  padding: 1.5rem 1rem;
  font-weight: bold;
}

.admin-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr 1fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.admin-row:hover {
  background: rgb(236, 236, 236);
}

.admin-community-notice-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr 1fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  color: #3396F4;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.admin-community-notice-row:hover {
  background: #FAFBFC;
}

.admin-update-button {
  color: #FFE651;
  cursor: pointer;
}

.community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}

.admin-community-create {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #3396F4;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .admin-container {
    width: 50%;
  }
  
  .admin-community-notice-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-index-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }

  .admin-row {
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .admin-container {
    width: 33%;
  }
}