.page-container {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-select {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid gray;
  outline: none;
}

.page-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  border: 1px solid gray;
  background-color: white;
  font-weight: bold;
}

.page-button:disabled {
  color: lightgray;
}

.page-button:hover {
  background-color: #3396F4;
  color: white;
}

.page-button:disabled {
  background-color: #3396F4;
  color: white;
}

.page-move-container {
  display: flex;
  margin: 0 0.5rem;
}

.page-move-button {
  cursor: pointer;
  margin: 0 0.3rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  background-color: white;
  line-height: 0;
}

.page-move-button:disabled {
  color: lightgray;
}

.page-move-button:hover {
  background-color: #3396F4;
  color: white;
}

.page-move-button:hover:disabled {
  color: lightgray;
  background-color: white;
}