.article-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.bug-index-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr;
  column-gap: 2rem;
  background-color: #FAFBFC;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.bug-row {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.log-content {
  white-space: pre-wrap;
  text-align: start;
}

.bug-row:hover {
  background-color: #FAFBFC;
}

.input-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  background: #FAFBFC;
  padding: 1rem;
}

.submit-textarea {
  padding: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
}

.submit-textarea:focus {
  outline: none;
}

.submit-button {
  cursor: pointer;
  margin: auto;
  color: lightgray;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.submit-button:hover {
  color: gray;
}

@media screen and (min-width: 1280px) {
  .article-container {
    width: 50%;
  }

  .input-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .article-container {
    width: 33%;
  }
  
  .input-container {
    width: 33%;
  }
}