.admin-notice-container {
  margin: 2rem auto;
  width: 90%;
}

.admin-notice-title {
  font-size: 2rem;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  outline: none;
  width: 100%;
  text-align: start;
  padding: 0.5rem;
  box-sizing: border-box;
}

.admin-notice-title:focus {
  background-color: #FAFBFC;
}

.admin-notice-date {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  padding: 1rem 0;
  color: gray;
}

.admin-notice-created {
  text-align: start;
}

.admin-notice-updated {
  text-align: end;
}

.admin-notice-content {
  text-align: start;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.admin-notice-content:focus {
  background-color: #FAFBFC;
}

.admin-notice-update {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.admin-notice-update-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #3396F4;
}

.admin-notice-delete-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgb(236, 55, 55);
}

@media screen and (min-width: 1280px) {
  .admin-notice-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .admin-notice-container {
    width: 33%;
  }
}