.admin-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.admin-notice-index-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 1fr;
  column-gap: 2rem;
  background-color: #FAFBFC;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.admin-notice-row {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 1fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.admin-notice-row:hover {
  background-color: #FAFBFC;
}

.admin-update-button {
  color: #FFE651;
  cursor: pointer;
}

.community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}

.admin-notice-create {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #3396F4;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .admin-container {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .admin-container {
    width: 33%;
  }
}