.search-container {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-select {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid gray;
  outline: none;
}

.search-input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  width: 20rem;
  border: 1px solid gray;
  outline: none;
}

.search-input:focus {
  outline: 1px solid black;
  border: 1px solid black;
}

.search-button {
  margin: 0 0.5rem;
  background-color: gray;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .search-input {
    width: 15rem;
  }
}