.article-container {
  display: grid;
  width: 90%;
  margin: auto;
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  column-gap: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  background-color: #FAFBFC;
  padding: 1.5rem 1rem;
  font-weight: bold;
}

.article-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
}

.article-row:hover {
  background-color: #FAFBFC;
}

.article-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.article-notice-row {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  column-gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
  font-size: 0.8rem;
  color: #3396F4;
  font-weight: bold;
}

.article-notice-link {
  color: #3396F4;
  text-decoration: none;
}

.article-notice-row:hover {
  background-color: #FAFBFC;
}

.article-row-title {
  text-align: start;
}

.community-row {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}

.community-create {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #3396F4;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .article-container {
    width: 50%;
  }
  
  .article-notice-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .index-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }

  .article-row {
    grid-template-columns: 1fr 6fr 2fr 2fr;
  }
}

@media screen and (min-width: 1920px) {
  .article-container {
    width: 33%;
  }
}