.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  width: 30%;
}

.login-title {
  width: 100%;
  text-align: start;
  padding: 0.2rem;
}

.login-input {
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid lightgray;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: bold;
  background-color: dodgerblue;
  cursor: pointer;
  margin: 1rem 0;
}

.login-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}

@media screen and (max-width: 600px) {
  .login-container {
    margin-top: 12rem;
  }
}