.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 5rem 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.profile-info-row {
  display: flex;
  justify-content: center;
}

.profile-info-row div {
  margin: 0.5rem 1rem;
}

.profile-edit-link {
  color: #3396F4;
}

@media screen and (max-width: 600px) {
  .main {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    width: 70%;
  }
}

@media screen and (min-width: 1920px) {
  .main {
    width: 50%;
  }
}
