.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 30%;
}

.signup-input-label {
  text-align: start;
  width: 100%;
}

.signup-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.signup-input {
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.signup-check-confirm {
  margin: auto 0 auto 0.5rem;
  padding: 0.5rem;
  width: 5rem;
  color: #FFE651;
  font-size: 2rem;
  text-align: center;
  line-height: 0;
}

.signup-check {
  cursor: pointer;
  margin: auto 0 auto 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  width: 5rem;
  background-color: gray;
  color: white;
  text-align: center;
}

.signup-radio {
  width: 2rem;
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.signup-button {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  border: none;
  font-weight: bold;
  background-color: dodgerblue;
  cursor: pointer;
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .signup-container {
    margin-top: 12rem;
  }
}