.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 30%;
}

.signup-input-label {
  width: 100%;
  text-align: start;
}

.signup-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.signup-input {
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid lightgray;
  width: 100%;
}

.signup-input:focus {
  outline: 1px solid black;
  border: 1px solid black;
}

.signup-check-confirm {
  margin: auto 0 auto 0.5rem;
  padding: 0.5rem;
  width: 5rem;
  color: #FFE651;
  font-size: 2rem;
  text-align: center;
  line-height: 0;
}

.signup-check {
  cursor: pointer;
  margin: auto 0 auto 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  width: 5rem;
  background-color: gray;
  color: white;
  text-align: center;
}

.signup-radio {
  width: 2rem;
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.signup-button {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: bold;
  background-color: dodgerblue;
  cursor: pointer;
  margin: 1rem 0;
}